{% extends 'base.html' %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h4 class="header center orange-text">{{ title }}</h4>
            <div class="row center">
                <a href="{% url 'mailing:create_client' %}" id="download-button"
                   class="btn-large waves-effect waves-light orange">Добавить клиента</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for object in object_list %}
                <div class="col s12 m6 l6">
                    <div class="card grey lighten-4">
                        <div class="card-content">
                            <h6>{{ object.full_name }}</h6>
                            <h6>{{ object.email }}</h6>
                            <p>{{ object.comment }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'mailing:client_detail' object.pk %}">Подробнее</a>
                            <a href="{% url 'mailing:edit_client' object.pk %}">Редактировать</a>
                            <a href="{% url 'mailing:delete_client' object.pk %}">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'mailing/includes/inc_pagination.html' %}
    </div>
{% endblock %}
